%div.socialnetwork-home
  %ul.social-network.list-inline
    - if !ENV['twitter_account'].blank? and !ENV['twitter_tags'].blank?
      %li
        - url = '//twitter.com/share?url='+request.original_url+'&via='+ENV['twitter_account']+'&hashtags='+ENV['twitter_tags']+'&text=Bienvenido a tu parlamento en linea'
        %a{'href' => '#', 'onclick'=>'window.open("'+url+'","twitter","width=450, height=250")'}
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x
            %i.fa.fa-twitter.fa-stack-1x.fa-inverse
    %li
      - url = '//www.facebook.com/sharer/sharer.php?u='+request.original_url
      %a{'href'=> '#', 'onclick'=>'window.open("'+url+'","facebook","width=450, height=250")'}
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-facebook.fa-stack-1x.fa-inverse
    %li
      %a{:href => "javascript:;", :onclick => "window.open('http://sharetodiaspora.github.io/?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title),'das','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=550'); return false;", :rel => "nofollow", :target => "_blank"}
        %img{:src => "http://sharetodiaspora.github.io/favicon.png", :style => "border: 0px solid;"}
