%div.container
  %div.col-md-9
    %ol.breadcrumb
      %li
        %a{:href => "/"} Portada
      %li.current
        El Abc

  %div.col-md-3
    %ul.list-inline.pull-right
      %li
        %a.btn-warning.btn-xs{:href => "#", :onclick => "window.open(\"//www.facebook.com/sharer/sharer.php?u=http://localhost:8003/videos\",\"facebook\",\"width=450, height=250\")"}
          %i.fa.fa-facebook
            Comparte
      %li
        %a.btn-warning.btn-xs{:href => "#", :onclick => "window.open(\"//twitter.com/share?url=http://localhost:8003/proyectos/videos\",\"twitter\",\"width=450, height=250\")"}
          %i.fa.fa-twitter
            Twittea

  %div.page-header
    %h2 El ABC

  %div.row
    %div.col-md-9.whitewithaside
      %table{:border => "0", :cellpadding => "4", :cellspacing => "20", :width => "100%"}
        %tbody
          %tr
            %td{:align => "center", :valign => "top", :width => "33%"}
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/jvmeHbtvLYw", :width => "392"}
          %tr
            %td{:align => "center", :valign => "top", :width => "33%"}
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/vVeEbvkJQHQ", :width => "392"}
          %tr
            %td{:align => "center", :valign => "top", :width => "33%"}
              %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/S5oWbrvctcQ", :width => "392"}

<!-- %video{:controls => "controls", :height => "220", :width => "392"} -->
<!-- %source{:src => "ComoParticiparEnElParlamentoParaguayo.webm", :type => "video/webm"} -->
<!-- Tu navegador no soporta video embebido. -->
<!-- %tr -->
<!-- %td{:align => "center", :valign => "top", :width => "33%"} -->
<!-- %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/vVeEbvkJQHQ", :width => "392"} -->
/
<!-- %video{:controls => "controls", :height => "220", :width => "392"} -->
<!-- %source{:src => "ComoParticiparEnElParlamentoParaguayo.webm", :type => "video/webm"} -->
<!-- Tu navegador no soporta video embebido. -->
<!-- %tr -->
<!-- %td{:align => "center", :valign => "top", :width => "33%"} -->
<!-- %iframe{:allowfullscreen => "", :frameborder => "0", :height => "220", :src => "https://www.youtube.com/embed/S5oWbrvctcQ", :width => "392"} -->
/
<!-- %video{:controls => "controls", :height => "220", :width => "392"} -->
<!-- %source{:src => "ComoParticiparEnElParlamentoParaguayo.webm", :type => "video/webm"} -->
<!-- Tu navegador no soporta video embebido. -->
%br/
%tr
%td{:valign => "top"}
%br/
%td{:align => "center", :height => "30%", :valign => "top"}
%br/
%br/
%br/
%br/
%br/
%td{:valign => "top"}
%br/

